.rootContainer {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.tableShow {
  width: auto;
}

.tableDisplay {

  table {
    border-collapse: collapse !important;
  }

  td {
    background: none !important;
    height: 70px !important;
  }



  :global(td.ant-table-cell) {
    padding: 3px !important;
  }

  :global(th.ant-table-cell) {
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: 16px;
    background: #e6e6e6 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 0 !important;
    ::before {
      display: none !important;
    }
  }

  :global(.ant-table-cell) {
    color: #464646 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 2px solid #7c7979;
    border-bottom: 2px solid #7c7979 !important;
    border-start-start-radius: 0 !important;
    border-start-end-radius: 0 !important;
  }
  :global(.ant-table-thead) {
    background: #4a89dc;
  }
}

.topHeadCard {
  display: flex;
  width: auto;
}

.contextBox {
  display: inline-block;
}

.weekContext {

}

.weekIconBox {
  display: inline-block;
  padding-left: 50px;
  line-height: 30px;
}


.topHead {
  font-family: "_GB2312 KaiTi_GB2312", serif;
  font-size: 18px;
}

.timeMap {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.iconContainer {
  display: inline-block;
  margin-left: 4px;
}

.openShifts {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
